<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${form}" action="/meeting/add-attendance">

    <h1>Meeting <span th:text="${form.meeting.date}"></span></h1>

        <div class="form-group">
            <label th:for="attendeeId">Attendees</label>
            <select name="attendeeId">
                <option th:each="attendee : ${attendees}"
                        th:text="${attendee.name}"
                        th:value="${attendee.id}"></option>
            </select>
        </div>
    <input type="hidden" name="meetingId" th:value="*{meeting.id}" />

    <input type="submit" value="Add" />
</form>

</body>
</html>