<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${form}" action="/meeting/add-attendance">

    <div class="form-group">
            <label th:for="attendeeId">Attendees Present</label>
            <select name="attendeeId">
                <option th:each="attendee : *{attendees}"
                        th:text="${attendee.name}"
                        th:value="${attendee.id}">
                </option>
            </select>
        </div>
    <input type="hidden" name="meetingId" th:value="*{meeting.id}" />

    <input type="submit" value="Add" />
</form>
<table class="table">
    <th>First</th><th>Role</th>
    <tr th:each="attendee : ${attendees}">
        <td th:text="${attendee.name}"></td>
        <td th:text="${attendee.role}"></td>
    </tr>
</table>

</body>
</html>