<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

    <form method="post" th:object="${attendee}">
        <label>Name (first last): </label>
        <input type="text" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
        <label>Role:</label>
        <input type="text" th:field="*{role}" />
        <span th:errors="*{role}" class="error"></span>
        <input type="submit" value="Add Board Member" />
    </form>
<br />
<br />

<table class="table">
    <th>Attendee Name</th><th>Role</th>
    <tr th:each="BoardMember : ${BoardMembes}">
        <td th:text="${boardmember.name}"></td>
        <td th:text="${boardmember.role}"></td>
    </tr>
</table>
</body>
</html>